<!DOCTYPE html>
<html>
<head>
<script src ="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.min.js"></script>
<script src="countdown.js"></script>
<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
<div id="outer">
 <div id="timediv"></div>
 </div>

</body>
 <script type="text/javascript">
   $("#timediv").countdown("2015/09/18 18:00", function(event) {
     $(this).text(event.strftime('%-D days %-H hours, %-M minutes and %-S seconds left until Sitges!'));
   });
 </script>
</html>